<a href="#" class="action-change" data-url="{{ admin.genUrl('change', {'id': column.object.id, 'field': column.name}) }}">
    {% if column.value %}
        {{ column.options.label_true|raw }}
    {% else %}
        {{ column.options.label_false|raw }}
    {% endif %}
</a>
