<td>
    {% for i in 0..object.lvl - 1 %}
        <i class="icon-arrow-right"></i>
    {% endfor %}
    {% if column.options.edit %}
        <a href="{{ admin.genUrl('edit', {'id': object.id}) }}">{{ column.value }}</a>
    {% else %}
        {{ column.value }}
    {% endif %}
</td>
