{#{% for i in 0..object.lvl %}#}
    {% set i = object.lvl %}
    {% if 0 != i %}
        {% if 1 == i %}<span class="badge">{% endif %}{% if 2 == i %}<span class="badge badge-warning">{% endif %}{% if 3 == i %}<span class="badge badge-important">{% endif %}{{ i }}</span>
    {% endif %}
{#{% endfor %}#}
{% if column.options.edit %}
    <a href="{{ admin.genUrl('edit', {'id': object.id}) }}">{{ column.value }}</a>
{% else %}
    {{ column.value }}
{% endif %}
