html {
    overflow-y: scroll;
}
body {
    background: #D0D0CF;
}
a:hover {
    text-decoration: none;
}
.navbar {
    position: relative;
}
.page-header {
    background: #f5f5f5;
    margin: -21px -20px 18px;
    padding: 27px 20px;
    border-bottom: 1px solid #ddd;
}
.footer.container {
    color: #999;
    margin-bottom: 20px;
}
.very-well {
    background: #fff;
    box-shadow: 0 1px 3px #999;
    border-radius: 0;
}
h1,h2,h3,.brand {
    font-family: "Trebuchet MS";
}
h1,h2,h3 {
    letter-spacing: -1px;
}
.pagination {
    margin: 0;
}
.thumbnails li {
    position: relative;
}
.thumbnails p {
    position: absolute;
    top: 40px;
    left: 35px;
    cursor: pointer;
}
.alert {
    position: absolute;
    left: 45%;
    top: 27px;
    z-index: 12000;
}
.chzn-container {
    margin-bottom: 9px;
}
textarea {
    height: 100px;
}
td, th {
    line-height: 22px !important;
    border-radius: 0 !important;
}
.table {
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 !important;
}
.table td:first-child, .table th:first-child {
    border-left: 0;
}
.table tfoot td {
    border-top: 0 !important;
    background: #f9f9f9 !important;
}
.pagination {
    background: #fff;
}
.pagination a:hover, .pagination .active a {
    /*background-color: #0074CC;*/
    color: #333;
}
.breadcrumb {
    margin: -18px -20px 18px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    padding: 8px 14px 6px;
    padding-left: 20px;
    padding-right: 20px;
}
.marginless-in * {
    margin-bottom: 0 !important;
}
div#filter > div {
    float: left;
    margin-right: 10px;
}
.marginless {
    margin: 0 !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.input-append input, .input-append select, .input-append .uneditable-input {
    border-radius: 0;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
}
input,
textarea {
  width: 290px;
}
