html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

a:hover {
    text-decoration: none;
}

h1, .navbar .brand {
    font-family: "Trebuchet MS";
    font-weight: bold;
}

h1 {
    letter-spacing: -1px;
    font-size: 30px;
    line-height: 40px;
    margin: 0;
}

h1 + hr {
    margin-top: 10px;
}

.table th,
.table td {
    vertical-align: middle;
}

.sidebar-nav {
    padding: 9px 0;
}

#sidebar select {
    width: 100%;
}
