html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

h1, .navbar .brand {
    font-family: "Trebuchet MS";
    font-weight: bold;
}

h1 {
    letter-spacing: -1px;
    margin: 0;
}

h1 + hr {
    margin-top: 10px;
}

table + div.pagination {
    margin: 0;
}

.table th,
.table td {
    vertical-align: middle;
}

.sidebar-nav {
    padding: 9px 0;
}

#sidebar select {
    width: 100%;
}

.btn {
    font-variant: small-caps;
}

.form-horizontal .control-label {
    text-align: left;
}
